:root {
  --box: #DDDDDD;
  --container-bg: #F7F7F7;
  --react: #040404;
  --bg: #0A507C;

}
*,::after,::before{
  box-sizing:border-box
}

html,
body {
  margin: 0px;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: var(--bg);
  
}

.container {
  display: grid;
  background: var(--container-bg);
  height: 100vh;
  width: 100vw;
  
  
  
}

.container {
  display: grid;
  grid-template:
    'Header Header Header Header'
    'Menu Reviews AvgRating SentAnalysis'
    'Menu WebVisit WebVisit WebVisit'
   ;
    padding: 5px;
    margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 1fr 1fr 10px;

}

Header {
  display: flex;
}

Menu {
  display: flex;
}

Reviews {
  display: flex;
}

AvgRating {
  display: flex;
}

SentAnalysis {
  display: flex;
}

WebVisit {
  display: flex;
}


.dashboard {
  grid-area: Menu;
  margin: 10px;
  padding-left: 30px;
 font-family: Arial, Helvetica, sans-serif;
  color: var(--react)
}

.dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;

}

.dashboard {
  z-index: 1000;
  position: relative;
}

.dashboard::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 110%;
}

.dashboard::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--box);
  border-radius: 5px;
}

.dashboardText {
  z-index: 1;
}



.reviews {
  grid-area: Reviews;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--react)
}

.reviews {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;

}

.reviews {
  z-index: 1000;
  position: relative;
}

.reviews::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 130%;
}

.reviews::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--box);
  border-radius: 5px;
}

.reviewsText {
  z-index: 1;
}

.avgRating {
  grid-area: AvgRating;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--react)
}

.avgRating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(255, 255, 255, 0.1);
}

.avgRating {
  z-index: 1000;
  position: relative;
}

.avgRating::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 130%;
}

.avgRating::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--box);
  border-radius: 5px;
}

.avgRatingText {
  z-index: 1;
}


.sentAnalysis {
  grid-area: SentAnalysis;
  background-color: var(--box);
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--react)
}

.sentAnalysis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;

}

.sentAnalysis {
  z-index: 1000;
  position: relative;
}

.sentAnalysis::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 130%;
}

.sentAnalysis::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--box);
  border-radius: 5px;
}

.sentiText {
  z-index: 1;
}


.webVisitors {
  grid-area: WebVisit;
  background-color: var(--box);
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--react)
}

.webVisitors {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;

}

.webVisitors {
  position: relative;
}

.webVisitors::before {
  content: "";
  position: relative;
  width: 75%;

}

.webVisitors::after {
  content: "";
  position:relative;
  background: var(--box);
  border-radius: 5px;
}

.webText {
  position:absolute;
  top:0px;
  left: 10px;
  z-index: 1000;
  line-height: 1.5px;
  width: 150px;
  height: auto;
  height: auto;
  
}
.webCont {
  position: absolute;
  width: 80%;
  height:60%;
  z-index: 1;
  bottom: 18px;
  background-color:#BEBEBD ;
}
